.inicio{
	background:#8A509E;
}
p,span{
	color:#fff;

}
.c1{
	margin-top: 100px;
	margin-bottom: 100px;
}
.boton{
	width:200px;
	height:50px;
	background:#EC7D46;
	margin:0 auto;
	border-radius: 5px;
	box-shadow: 2px 5px 2px #CA663B;
}
.tex{
	margin-top: 50px;
}

.co1{
	background:#17C1A4;
}
.blanco{
	color: #fff;
}
p,span{
	color: #fff
}

.container {
	width: 100% !important
}
.c6{
	margin-top: 70px;
	margin-bottom: 70px;
}

.co2{
	background: #E7F2F6;
}
.texto{
	color: #33435D;
}
.circulo{
	background: gray;
	width: 150px;
	height: 150px;
	border-radius: 50%
}
.circulo{
	background: gray;
	width: 150px;
	height: 150px;
	border-radius: 50%
}
.circulo{
	background: gray;
	width: 150px;
	height: 150px;
	border-radius: 50%
}
.circulo{
	background: gray;
	width: 150px;
	height: 150px;
	border-radius: 50%
}
.celeste{
	color: skyblue; 
}
.c11{
	margin-top: 50px;
	margin-bottom: 50px;
}
.co3{
	background: #fff;
}
.c9{
	margin-top: 50px;
	margin-bottom: 50px;
}
.c10{
	margin-top: 50px;
	margin-bottom: 50px;
}
.co4{
	background: #FFDC98;

}
.cb{
	margin-top: 100px;
	margin-left: 100px;
}

.menu1{
	color: #060C0B;
}
.negro{
	color: black;
}
.c5{
	margin-top: 100px;
	margin-bottom: 100px; 
}
.boton1{
	width:200px;
	height:50px;
	background: #30BAE8;
	margin:0 auto;
	border-radius: 5px;
	box-shadow: 2px 5px 2px #329AC5;
}
.co5{
	background: #D74681;
}	
.circulo1{
	background: gray;
	width: 100px;
	height: 100px;
	border-radius: 50%
}
.amarillo{
	color: yellow;
}
.c12{
	margin-top: 100px;
	margin-bottom: 100px;
}
.co7{
	background: #3C5599;
}	
.rojo{
	color: red;
}
.boton2{
	width:600px;
	height:50px;
	background: #293974;
	margin:0 auto;
	border-radius: 5px;
}
.boton3{
	width:600px;
	height:50px;
	background: #293974;
	margin:0 auto;
	border-radius: 5px;
}
.boton4{
	width:600px;
	height:250px;
	background: #293974;
	margin:0 auto;
	border-radius: 5px;
}
.c8{
	margin-top: 100px;
	margin-bottom: 100px;
}
.boton5{
	width:200px;
	height:50px;
	background:	#30BAE8;
	margin:0 auto;
	border-radius: 5px;
	box-shadow: 2px 5px 2px #3684B8;
}
.c5{
	margin-top: 60px;
	margin-bottom: 60px;
}
.co9{
	background: #364C87;
}
.c7{
	margin-top: 50px;
	margin-bottom: 50px;
}


